<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top px-3">
  <a class="navbar-brand" href="#">Employee Dashboard</a>

  <div class="ms-auto text-white">
    <i class="bi bi-person-circle"></i> Welcome Employee
  </div>
</nav>


<div class="sidebar bg-dark text-white p-3">

  <h5>Menu</h5>

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="bi bi-speedometer2 me-2"></i>Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="bi bi-people me-2"></i>Employees
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="bi bi-calendar-check me-2"></i>Attendance
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="bi bi-cash me-2"></i>Payroll
      </a>
    </li>

  </ul>

</div>


<div class="content container-fluid">

  <h2 class="mb-4">Dashboard</h2>

  <div class="row g-3">

    <div class="col-md-3">
      <div class="card p-3 text-center">
        <h3>250</h3>
        <p>Total Employees</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 text-center">
        <h3>220</h3>
        <p>Present</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 text-center">
        <h3>15</h3>
        <p>Leave</p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card p-3 text-center">
        <h3>₹12L</h3>
        <p>Payroll</p>
      </div>
    </div>

  </div>

</div> -->


<!-- <div class="w-25">
    <app-custom-card [data2]="mydata"></app-custom-card>
</div> -->

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<div class="d-flex">
  <app-custom-card [position]="1" [heading]="'Heading Text'"
    [text]="'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo, ipsam accusamus voluptatem quia dignissimos quas soluta deserunt libero saepe reprehenderit necessitatibus? Ipsa nisi a quam eos corrupti voluptate fugit!'"></app-custom-card>
  <app-custom-card [position]="2" [heading]="'Heading Text 2'"
    [text]="'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo, ipsam accusamus voluptatem quia dignissimos quas soluta deserunt libero saepe reprehenderit necessitatibus? Ipsa nisi a quam eos corrupti voluptate fugit!'"></app-custom-card>
</div>

<div class="row">
  <div class="col-3" *ngFor="let d of myData; let i = index">

    <div class="card">
      <div class="card-body">
        <h4>{{d.title}}</h4>
        <p>{{d.body}}</p>
      </div>
    </div>

  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Save</button>
	</div>
</ng-template>