/* 
.sidebar {
    position: fixed;
    top: 56px;         
    left: 0;
    width: 220px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}


.content {
    margin-top: 56px;   
    margin-left: 220px; 
    padding: 20px;
} */